@tailwind base;
@tailwind utilities;

body {
  width: 400px;
  height: 600px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  @apply bg-ctp-base;
}

#__root {
  display: contents;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  @apply bg-ctp-surface0;
}

body::-webkit-scrollbar-thumb {
  @apply bg-ctp-surface1;
}

body::-webkit-scrollbar-thumb:hover {
  @apply bg-ctp-surface2;
}