@tailwind base;
@tailwind utilities;

body {
  display: contents;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "YuGothic", "Yu Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__root {
  width: 400px;
  height: 600px;
  margin: 0;
  position: relative;
  overflow: auto;
  @apply bg-ctp-base;
  scrollbar-gutter: stable;
}

#__root::-webkit-scrollbar,
#__root *::-webkit-scrollbar {
  width: 5px;
}

#__root::-webkit-scrollbar-track,
#__root *::-webkit-scrollbar-track {
  @apply bg-ctp-surface0;
}

#__root::-webkit-scrollbar-thumb,
#__root *::-webkit-scrollbar-thumb {
  @apply bg-ctp-surface1;
}

#__root::-webkit-scrollbar-thumb:hover,
#__root *::-webkit-scrollbar-thumb {
  @apply bg-ctp-surface2;
}
