@tailwind base;

.container {
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  @apply bg-ctp-base text-ctp-text p-20;
}

.item {
  @apply flex justify-start items-start gap-1 w-full mb-4;
}

.label {
  flex-basis: 120px;
  @apply flex-shrink-0 p-2;
}

.label + * {
  @apply flex-auto;
}

.configurations {
  @apply w-full;
}

.feed-id-list {
  @apply flex flex-col gap-1;
}

.feed-id-item {
  @apply flex flex-row items-center gap-1 p-2;
}

.feed-id-radio {
  display: contents;
}

.feed-id-delete {
  @apply text-ctp-red;
}

.add-feed-id {
  @apply flex flex-row gap-1;
}

input[type="radio"] {
  @apply appearance-none w-3 h-3 border border-ctp-surface1 rounded-full cursor-pointer checked:bg-ctp-flamingo checked:border-ctp-flamingo;
}

input[type="radio"]:checked {
  @apply bg-ctp-mauve;
}

input[type="radio"]:focus {
  @apply ring-1 ring-ctp-mauve;
}

input:not([type="radio"]),
select {
  width: 200px;
  max-width: 200px;

  @apply bg-ctp-overlay0 text-ctp-subtext1 p-2 placeholder:text-ctp-subtext0;
}

footer {
  @apply absolute bottom-0 p-2 flex gap-2;
}

footer a {
  @apply cursor-pointer underline text-ctp-blue;
}

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  @apply bg-ctp-surface0;
}

body::-webkit-scrollbar-thumb {
  @apply bg-ctp-surface1 hover:bg-ctp-surface2;
}
