@tailwind base;

.container {
  width: 100%;
  min-height: 100px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @apply bg-ctp-base text-ctp-text p-20;
}

.item {
  @apply flex justify-start items-center gap-1 w-full mb-2;
}

.label {
  flex-basis: 20%;
  @apply flex-shrink-0;
}

.label + * {
  @apply flex-auto;
}

input, select {
  @apply bg-ctp-overlay0 text-ctp-subtext1 p-1;
}

footer {
  @apply absolute bottom-0 p-2 flex gap-2;
}

footer a {
  @apply cursor-pointer underline text-ctp-blue;
}

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  @apply bg-ctp-surface0;
}

body::-webkit-scrollbar-thumb {
  @apply bg-ctp-surface1 hover:bg-ctp-surface2;
}